.CardTable td {
    height: 50px;
}

.CardTable td.CardDescription {
    height: 600px;
    overflow-y:scroll;
}

.CardTable button {
    display: block;
    width: 100%;
}

.AttributeValue {
    width: 100px;
}

.ShopButton {
    width: 100%;
    height: 50px;
}

.CardTable {
    margin-bottom: 0;
}