.DeckTable tbody tr td {
    text-align: center;
}

.DeckTable tbody tr td img {
    max-height: 100px;
}

.ChangeDeckButton {
    width: 100%;
    height: 50px;
}

.CardsTable tbody tr td {
    cursor: pointer;
}

.CardsCard {
    text-align: center;
}